h1 {

    color: gray;
    text-align: center;

}

p {
    font-size: 30px;
    color: burlywood;
    font-style: italic;
    text-align: justify;
}

.error {

    color: red;

}

.success {

    color: green;

}